<div>
  <p-fileUpload 
              name="myfile[]" 
              disabled=""
              mode="advanced"
              name="avatar" 
              accept="image/*" 
              maxFileSize="1000000"
              chooseLabel="Seleccionar imagen"
              invalidFileSizeMessageSummary = "Imagen demasiado grande"
              invalidFileSizeMessageDetail = "No debe ser mayor a 1 MB"
              invalidFileTypeMessageSummary = "Tipo de archivo incorrecto"
              invalidFileTypeMessageDetail = "Unicamente puede subir imagenes"        
              showUploadButton="true"
              showCancelButton=""
              
              previewWidth="200"
              (onSelect)="onSelect($event)"
  >
    <!-- <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
      </ul>
    </ng-template> 
    (onSelect)="ArchivoSeleccionado($event)"
  -->
  </p-fileUpload>
</div>