<div>
  <p-fileUpload 
              mode="advanced"
              name="avatar" 
              
              accept="image/*" 
              maxFileSize="1000000"
              chooseLabel="Seleccionar imagen"
              invalidFileSizeMessageSummary = "Imagen demasiado grande"
              invalidFileSizeMessageDetail = "No debe ser mayor a 1 MB"
              invalidFileTypeMessageSummary = "Tipo de archivo incorrecto"
              invalidFileTypeMessageDetail = "Unicamente puede subir imagenes"        
              showUploadButton=""
              showCancelButton=""
              previewWidth="200"
              (onSelect)="Evento($event)"
              >  
  </p-fileUpload>
</div>

<!-- <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
      </ul>
    </ng-template> 
    (onSelect)="ArchivoSeleccionado($event)"
     (onUpload)="onUpload($event)"
              (onSelect)="onSelect($event)"
  -->