<div class="container">
    <h3>Ingrese pedido</h3>
  <div class="row form-ingreso form-goup">     
    <input type="text" class="form-control" [(ngModel)]="idPedido" placeholder="Pedido">        
    <button class="btn btn-primary" (click)="TraerTiempo()">Traer</button>       
  </div>
   
    <div class="info-cliente col-sm-8" >
      <h1>
        {{idPedido}}
      </h1>
      <table  *ngIf="muestraTabla" style="color:antiquewhite" class="table">
        <thead>
          <th>idDetalle</th>
          <th>Producto</th>   
          <th>Tiempo Restante</th>
       </thead>
        <tbody>
          <tr *ngFor="let detalle of detalles">
            <td> {{detalle.idDetalle}} </td>
            <td> {{detalle.producto}} </td>
         
            <app-reloj [tEspera]="detalle.tiempoRestante"></app-reloj> 
          
          </tr>
        </tbody>
      </table>

      <div *ngIf="sinPendientes" class="tabla-pendientes" >
          <table class="table miTabla" *ngIf="!muestraTabla">
            <h3 style="color:antiquewhite">NO EXISTE EL PEDIDO O EL MISMO SE ENCUENTRA SERVIDO</h3>
          </table>
      </div>

    </div>
  
</div>
 