
<mat-drawer-container class="sidenav-container">
  
  <!-- SIDE -->
  
  <mat-drawer class="mat-drawer-avatar" mode="side" opened>

    
    <!-- USUARIO -->
    <mat-toolbar class="sidenav-toolbar">
      <mat-toolbar-row>
        <span class="span-avatar">Bienvenido {{usuario.datos.usuario}}</span>
      </mat-toolbar-row>      
    


      <mat-toolbar-row>
        <img class="enmarcada" [src]="imagen" alt="Avatar">
      </mat-toolbar-row>

      <mat-toolbar-row>
        <!-- <span>Third Line</span>-->
        <!-- <span class="usuario-spacer"></span>  -->
        <!-- <mat-icon class="usuario-icon">face</mat-icon> -->
        <!-- <span class="usuario-spacer">logout</span> -->
        <mat-icon class="usuario-icon">exit_to_app</mat-icon>  
        <mat-icon (click)="openDialog()"  class="usuario-icon">insert_photo</mat-icon>
        <mat-icon (click)="MuestraMapa()" class="usuario-icon">satellite</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>


    <div [ngSwitch]="usuario.datos.perfil">
      <!-- ADMINISTRADOR -->
      <mat-list   *ngSwitchCase="'admin'">
        
        <h3 mat-subheader class="h3-subheader" >La Comanda</h3>
        

          <mat-list-item  class="mat-list">                     
            <mat-icon mat-list-icon md-36>assignment_ind</mat-icon>
            <button mat-raised-button class="mat-list-button">
              
              <h4 mat-line>Empleados</h4>
              
            </button>                     
          </mat-list-item>

          <mat-list-item  class="mat-list">                     
            <mat-icon mat-list-icon md-36>assignment</mat-icon>
            <button mat-raised-button class="mat-list-button">
              
              <h4 mat-line>Pedidos</h4>
              
            </button>                     
          </mat-list-item>
        
        <mat-divider></mat-divider>
        
        <h3 mat-subheader class="h3-subheader">Reportes</h3>
          
        
          
          <mat-list-item  class="mat-list">
            <mat-icon mat-list-icon md-36>assessment</mat-icon>
            <h4 mat-line (click)="Emiter()">HighChart</h4>
            <!-- <p mat-line> {{note.updated | date}} </p> -->
            
          </mat-list-item>

          <mat-list-item  class="mat-list">
            <mat-icon mat-list-icon md-36>table_chart</mat-icon>
            <h4 mat-line (click)="Emiter()">CSV</h4>
            <!-- <p mat-line> {{note.updated | date}} </p> -->
            
          </mat-list-item>



      
      </mat-list>





      <!-- MESERO -->
      <mat-list  *ngSwitchCase="'mozo'">
        <h3 mat-subheader>Pedidos Pendientes</h3>
        <mat-list-item *ngFor="let folder of folders">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>{{folder.name}}</h4>
          <!-- <p mat-line> {{folder.updated | date}} </p> -->
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Reportes</h3>
        <mat-list-item *ngFor="let note of notes">
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>{{note.name}}</h4>
          <!-- <p mat-line> {{note.updated | date}} </p> -->
        </mat-list-item>
      </mat-list>



       <!-- BARMAN -->
       <mat-list  *ngSwitchCase="'barman'">
          <h3 mat-subheader>Pedidos Pendientes</h3>
          <mat-list-item *ngFor="let folder of folders">
            <mat-icon mat-list-icon>assignment</mat-icon>
            <h4 mat-line>{{folder.name}}</h4>
            <p mat-line> {{folder.updated | date}} </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Reportes</h3>
          <mat-list-item *ngFor="let note of notes">
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>{{note.name}}</h4>
            <p mat-line> {{note.updated | date}} </p>
          </mat-list-item>
        </mat-list>
    </div>

  </mat-drawer>
  
  <!--CUERPO-->
  
  <mat-drawer-content class="sidenav-content">   
    <div [ngSwitch]="usuario.datos.perfil">
      
      <div *ngSwitchCase="'admin'">
          <app-admin [muestra]="muestraSide"
                    [muestraMapa]="muestraMapa"
          
          
          >Cargando....</app-admin>
      </div>
      
      <div *ngSwitchCase="'mozo'">
          <app-mozo></app-mozo>
      </div>      
    
    </div>  
  </mat-drawer-content>

</mat-drawer-container>
