<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-drawer-container class="sidenav-container">
  <mat-drawer mode="side" opened>Drawer content
      
      <mat-list>
          <h3 mat-subheader>Folders</h3>
          <mat-list-item *ngFor="let folder of folders">
            <mat-icon mat-list-icon>assignment</mat-icon>
            <h4 mat-line>{{folder.name}}</h4>
            <p mat-line> {{folder.updated | date}} </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Notes</h3>
          <mat-list-item *ngFor="let note of notes">
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>{{note.name}}</h4>
            <p mat-line> {{note.updated | date}} </p>
          </mat-list-item>
        </mat-list>

  </mat-drawer>
  <mat-drawer-content>
    
    Main content
  </mat-drawer-content>
</mat-drawer-container>
