@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';



.sidenav-container{
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgb(187, 113, 113); */
  font-family: Roboto, Arial, sans-serif;
  background-image: url(../../../assets/imagenes/loginfondo.jpg);
}

.sidenav-toolbar{
  color: #fff;
  background: rgb(19, 18, 18);
  
}



.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}



.mat-list-icon {
  color: rgba(40, 23, 195, 0.54);
  
}

.usuario-icon {
  padding: 0 14px;
  cursor: pointer;
}

.usuario-spacer {
  flex: 1 1 auto;
}

