<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-drawer-container class="sidenav-container">
  <mat-drawer mode="side" opened>

    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Bienvenido {{usuario}}</span>
          <mat-icon class="usuario-icon">face</mat-icon>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
          <span>Cerrar Sesion</span>
          <span class="usuario-spacer"></span>
          <mat-icon class="usuario-icon">cancel</mat-icon>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
          <span>Third Line</span>
          <span class="usuario-spacer"></span>
          <mat-icon class="usuario-icon">favorite</mat-icon>
          <mat-icon class="usuario-icon">delete</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>





      
      <!-- ADMINISTRADOR -->
      <mat-list *ngIf="usuario == 'admin'">
        <h3 mat-subheader>Usuarios</h3>
        <mat-list-item *ngFor="let folder of folders">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>{{folder.name}}</h4>
          <p mat-line> {{folder.updated | date}} </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Reportes</h3>
        <mat-list-item *ngFor="let note of notes">
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>{{note.name}}</h4>
          <p mat-line> {{note.updated | date}} </p>
        </mat-list-item>
      </mat-list>

      <!-- MESERO -->
      <mat-list *ngIf="usuario == 'mesero'">
        <h3 mat-subheader>Pedidos Pendientes</h3>
        <mat-list-item *ngFor="let folder of folders">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>{{folder.name}}</h4>
          <p mat-line> {{folder.updated | date}} </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Reportes</h3>
        <mat-list-item *ngFor="let note of notes">
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>{{note.name}}</h4>
          <p mat-line> {{note.updated | date}} </p>
        </mat-list-item>
      </mat-list>



       <!-- BARMAN -->
       <mat-list *ngIf="usuario == 'barman'">
          <h3 mat-subheader>Pedidos Pendientes</h3>
          <mat-list-item *ngFor="let folder of folders">
            <mat-icon mat-list-icon>assignment</mat-icon>
            <h4 mat-line>{{folder.name}}</h4>
            <p mat-line> {{folder.updated | date}} </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Reportes</h3>
          <mat-list-item *ngFor="let note of notes">
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>{{note.name}}</h4>
            <p mat-line> {{note.updated | date}} </p>
          </mat-list-item>
        </mat-list>







  </mat-drawer>
  <mat-drawer-content>
    
    ACA VA LA TABLA!
    
  </mat-drawer-content>
</mat-drawer-container>
