/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import url('https://fonts.googleapis.com/css?family=Oswald'); 
@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); 



.sidenav-container{
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgb(187, 113, 113); */
  /* font-family: Roboto, Arial, sans-serif; */
  font-family: 'Oswald', sans-serif;
  background-image: url(../../../assets/imagenes/loginfondo.jpg);

  /*
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  */

}

.sidenav-toolbar{
  color: #fff;
  background: rgb(19, 18, 18);
  font-family: 'Oswald', sans-serif;
  
}

/* .sidenav-list{

  font-family: 'Oswald', sans-serif;

} */

.mat-list{
  font-family: 'Oswald', sans-serif;
  cursor: pointer;

}

.h3-subheader{ 
  font-family: 'Oswald', sans-serif;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
}

/* .sidenav-content-toolbar {
  position: fixed;
  top:-10;
  left: auto;
  display: flex;
  height: 100%; 
  align-items: left;
  float: right;
  justify-content: center; 
  font-family: 'Oswald', sans-serif;
} */



.mat-list-icon {
  color: rgba(27, 26, 26, 0.54);
  
}
mat-icon{
  margin: 5px;

}

.usuario-icon {
  padding: 0 14px;
  cursor: pointer;
  font-size: 30px; 
}

.span-avatar{
  /*padding: 10% 10%;*/
  float: left;
  margin: 20px;
}

span{
  margin: 20px;

}

.usuario-spacer {
  flex: 1 1 auto;
}

.mat-list-button button,
.mat-list-button a {
  margin: 8px;
  display: flex;

}

.mat-drawer-avatar{
  /*
  position: fixed;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  */
}

mat-toolbar-row{
  padding:10px;
  margin:10px; /* distancia entre el borde y el contenido */
}

.enmarcada{
  position: relative;
  /*border:1px solid #000; /* ancho - tipo - color */
  /*padding:10px; /* distancia entre la img y el borde */
  margin:10px; /* distancia entre el borde y el contenido */
  width:120px; /* el ancho de la img */
  border-radius:150px;
  border:5px solid #666;
  height: 120px; 
}


